
.container {
    max-width: 100%;
    padding:-50px;
}

.wrapper {
    display: flex;
    /* align-items: stretch; */
}


#sidebar {
    display:inline-block;
    background-color:whitesmoke;
    padding:1%;
    margin: 0;
    
}

#scatter {
    height:70vh;
    max-width:1500px;
}

.card {
    padding:1%;
}

nav {
    display:inline-block!important;
}


.bar {
    padding:2.5%!important;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin:auto;

}


.svg-container{
    /* display:flex!important; */
    position:static!important;
}









